{
  "plugins": ["prettier-plugin-astro"],
  "semi": false,
  "overrides": [
    {
      "files": "**/*.astro",
      "options": { "parser": "astro" }
    },
    {
      "files": ".*rc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
